.sign-in {
  width: 60%;
  height: 90vh;
  margin: 30px auto;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
/* Header for the Page */
.header {
  width: 70%;
  height: 10vh;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: black;
  text-shadow: 10px solid white;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-position: under;
}
/* Worldline logo Section */
.worldline-image {
  width: 70%;
  height: 20vh;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.worldline-image img {
  width: 150px;
  height: 50px;
}
/* Input Section */
.inputs {
  width: 70%;
  height: 30vh;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs input {
  text-align: center;
  margin: 10px;
  height: 30px;
  width: 300px;
  border-radius: 6px 1px 6px 1px;
  outline: none;
  cursor: text;
}
/* Sign In Button */
.log-in {
  width: 200px;
  height: 60px;
  border-radius: 10px 5px 10px 5px;
  margin: 20px;
  background-color: lightslategray;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  font-family: sans-serif;
  color: black;
  text-shadow: 10px solid white;
  cursor: pointer;
}
/* Register Section */
.register {
  width: 70%;
  height: 15vh;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.register li {
  list-style: none;
}
.register a {
  margin: 30px;
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-position: under;
  font-size: 18px;
  font-weight: 300;
  font-family: sans-serif;
  letter-spacing: 1px;
  color: black;
}
.register a:hover {
  text-decoration: underline;
  text-decoration-color: lightskyblue;
  text-underline-position: under;
}

/* ---  Media Queries ---  */
@media only screen and (max-width: 600px) {
  .sign-in {
    width: 90%;
  }
  /* Bundled all the Div classes as all same Elements */
  .header,
  .inputs,
  .worldline-image,
  .register {
    width: 90%;
    margin: 10px auto;
  }
  .header h1 {
    text-align: center;
    font-size: 15px;
  }
  .worldline-image img {
    width: 90px;
    height: 40px;
  }
  .inputs input {
    width: 90%;
  }
  .log-in {
    width: 90%;
    height: 40px;
  }
  .register a {
    font-size: 10px;
    padding: 5px;
    margin: 5px;
  }
}
