/* Main Section Div */
.sign-in {
  width: 60%;
  height: 90vh;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #636363;
  display: flex;
  flex-direction: column;
}
/* Header for the Page */
.header {
  width: 70%;
  height: 10vh;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: white;
}
/* Worldline logo Section */
.worldline-image {
  width: 30%;
  height: 15vh;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.worldline-image img {
  width: 200px;
  height: 35px;
}
/* Input Section */
.inputs {
  width: 70%;
  height: 35vh;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.inputs input {
  text-align: center;
  height: 80px;
  width: 400px;
  margin: 15px auto;
  border-radius: 2px 1px 2px 1px;
  outline: none;
  border: 1px solid black;
  cursor: text;
}
/* Sign In Button */
.log-in {
  background-color: #1aa9d4;
  width: 200px;
  height: 90px;
  border-radius: 20px;
  margin: 10px auto;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border: none;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
}
/* Adding an Active case to the log-in button */
.log-in:active {
  border: 2px solid black;
}
/* Register and Forgotten password Section */
.register {
  width: 70%;
  height: 15vh;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}
.register li {
  display: flex;
  margin: auto;
}
.register a {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
}
/* Adding On Hover effect to the register and forgotten button */
.register a:hover {
  text-decoration: underline;
  text-decoration-color: lightskyblue;
  text-underline-position: under;
}
/* Media Query for the Screen size max of 600px and min 300px  */
@media only screen and (max-width: 600px) {
  .sign-in {
    width: 90%;
  }
  /* Bundled all the Div classes as all same Elements */
  .header,
  .worldline-image {
    width: 80%;
    margin: 10px auto;
  }
  .header h1 {
    text-align: center;
    font-size: 27px;
  }
  .worldline-image img {
    display: flex;
    width: 170px;
    height: 30px;
  }
  .inputs {
    height: 30vh;
    justify-content: center;
  }
  .inputs input {
    width: 80%;
    height: 40px;
  }
  .log-in {
    height: 40px;
    width: 50%;
    outline: none;
  }
  .register {
    height: 20vh;
    flex-direction: column;
  }
  .register li {
    margin: auto;
    flex-direction: column;
  }
  .register a {
    font-size: 16px;
    text-align: center;
  }
}
