.register {
  width: 60%;
  height: 90vh;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #636363;
  display: flex;
  flex-direction: column;
}
/* Header for the Page */
.register-header {
  width: 80%;
  height: 10vh;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-header h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: white;
}
/* Registering information */
.register-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40vh;
  margin: 10px auto;
}
.register-information p,
li {
  font-size: 20px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 4px;
}
/* Register and Forgotten password Div */
.click-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20vh;
  margin: 5px auto;
}
.toPassword,
.backToLoginPage {
  background-color: #1aa9d4;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin: 10px;
  font-size: 18px;
  border: none;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
}
/* Adding an active Case to the button */
.backToLoginPage:active,
.toPassword:active {
  border: 2px solid black;
}
/* Media Query for the Screen size max of 600px and min 300px  */
@media only screen and (max-width: 600px) {
  .register {
    width: 90%;
  }
  /* Multiple Div Names as all same dimensions */
  .register-header,
  .register-information {
    width: 80%;
  }
  .register-header h1 {
    font-size: 18px;
    text-align: center;
  }
  .register-information p,
  li {
    margin: 2px;
    font-size: 14px;
    text-align: center;
  }
  .click-register {
    width: 80%;
    flex-direction: column;
  }
  .toPassword,
  .backToLoginPage {
    width: 80%;
    font-size: 16px;
  }
}
