.register {
  width: 60%;
  height: 90vh;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #636363;
  display: flex;
  flex-direction: column;
}
/* Header for the Page */
.register-header {
  width: 80%;
  height: 10vh;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-header h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: white;
}
/* Registering information */
.register-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30vh;
  margin: 10px auto;
}
.register-information p,
li {
  font-size: 22px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
  letter-spacing: 1px;
  margin-top: 5px;
}
/* Click to Register Section */
.click-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30vh;
  margin: 10px auto;
}
.click-register p {
  font-size: 22px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
}
.click-register button {
  background-color: #1aa9d4;
  width: 200px;
  height: 90px;
  border-radius: 20px;
  margin: 15px auto;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border: none;
  color: rgb(238, 235, 235);
  text-shadow: 2px 2px 6px #3e4141;
}
.click-register button:active {
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .register {
    width: 90%;
  }
  /* Multiple Div Names as all same dimensions */
  .register-header,
  .register-information,
  .click-register {
    width: 90%;
  }
  .register-header h1 {
    font-size: 14px;
    text-align: center;
  }
  .register-information p,
  li {
    margin: 5px;
    font-size: 14px;
    text-align: center;
  }
  .click-register p {
    font-size: 15px;
    text-align: center;
  }
  .click-register button {
    width: 80%;
    margin: 2px auto;
    font-size: 15px;
  }
}
